<h1>Reset password request</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem nobis officiis aliquam possimus qui provident quae incidunt tenetur similique. Rerum facilis voluptates sunt amet obcaecati illo odit. Quis, tempore perspiciatis?</p>

<%= link_to "reset password", @link %>