<div class="border-l-4 ml-2 p-2 mb-5">
  <p>
    <strong><%= comment.user.username %>:</strong>
    <%= comment.body %>
  </p>
  <% if comment.author?(current_user) %>
    <div class="flex my-3">
      <div class="mr-3"><%= render 'likes/like_button', resource: @article %></div>
      <%= link_to 'Delete', [comment.article, comment], method: :delete, class: "text-red-500 mt-1" %>
    </div>
  <% end %>
</div>